/*==========  Clearfix  ==========*/

%clearfix {
  *zoom: 1;
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
  &:before {
    content: " ";
    display: table;
  }
}

/*==========  Font Setup  ==========*/

%font-setup {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
}